*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #27445D;
}
.calculator{
    background-color: #EFE9D5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#display{
    width: 90%;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2C3930;
    border-radius: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
}
button{
    padding: 15px;
    font-size: 18px;
    border: none;
    background: #497D74;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: #71BBB2;
}
.equal{
    background: #3A7D44;
}
.clear{
    background: #E52020;
}

.inner-box{
    position: relative;
}

#operator{
    position: absolute;
    left: 19px;
    top: 26px;
    font-weight: bold;
}
.equal {
    background: #3A7D44;
    grid-row: span 2; 
    height: 100%; 
}